{% for submain in submains %} 

	<div class="submain-wrapper">

		<div class="submain-title-wrapper"> 

			<h5 class="submain-title">{{ submain.name }}</h5>

			<div class="submain-actions"> 
				<a class="submain-add" href="{{ path('submain_new', { 'submainId': submain.id }) }}">+</a>
				<a class="submain-delete" href="{{ path('submain_delete', { 'submainId': submain.id }) }}">-</a>
			</div>

		</div>

		<p class="submain-description">{{ submain.description }}</p>

		{{ render(controller('ProjektBundle:Submain:index', {'submainId': submain.id })) }}

	</div>

{% endfor %}


