{% extends 'base.html.twig' %}

{% block body %}

{# {{ dump() }} #}
<h1>Edit <i>{{ main.name }}</i></h1>

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form) }}
{{ form_widget(form) }}
{# {{ form_widget(form.save, { 'label': 'Click me' }) }} #}
{{ form_end(form) }}

{% endblock %}