{% for main in mains %}

	<div class="main-wrapper col-sm-6">

		<h3 class="main-title">&bull;  {{ main.name }}s</h3>

		<a class="main-add-submain" href="{{ path('submain_new', { 'projektId' : projektId, 'mainId': main.id }) }}">+</a>
		<a class="submain-delete" href="{{ path('main_delete', { 'mainId': main.id }) }}">-</a>
			
		<p class="main-description">{{ main.description }}</p>

		{{ render(controller('ProjektBundle:Submain:index', {'projektId' : projektId, 'mainId': main.id })) }}

	</div>

{% endfor %}